* {
    text-align: center;
}

.btn {
    padding: 7px;
    background-color: #d0c6c6;
    border-radius: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    text-align: center;
}

.res {
    padding: 10px;
    margin-top: 10px;
}

.card img {
    width: 200px;
    height: 200px;
}